@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Zen+Loop:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.content {
  flex: 1;
}
